on: push

jobs:
  test:
    runs-on: windows-latest
    name: Set up WireMock as a standalone process
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Action E2E Test
        uses: williamhaw/setup-wiremock-action@v0.1.2
        id: setup-wiremock
        with:
          http-port: '8080'
          mappings: 'C:\Users\TATest\Desktop\WireMock\mappings'
          files: 'C:\Users\TATest\Desktop\WireMock\__files'
          command: 'node example.test.js'
          verbose: false
      - name: Get the WireMock standard output
        run: echo "${{ steps.setup-wiremock.outputs.wiremock-stdout }}"
jobs:
   test:
     runs-on: windows-latest
     name: Start node
     steps:
       -run: node --version