#When we want to trigger the job
on: push
# What kind of jobs array we will use
jobs:
  first-job:
    runs-on: windows-latest
    steps:
      - run: node --version
  - name: Install Java
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'