#When we want to trigger the job
on: push
# What 
jobs:
  first-job:
    steps:
      - run: node --version
      - run: java --version
      - run: java -jar wiremock.jar --port=8081 --https-port=8082